.root {
    width: 1000px;
    height: 100%;
}
.viz {
    width: 100%;
    height: 100%;
}

.footer {
    text-align: center;
    font-size: smaller;
    z-index: 10000;
    bottom: 10px;
    left: 30px;
    position: absolute;
}