.root {
    width: 520px;
}

.upsellMessage {
    text-align: center;
}

.actions {
    cursor: pointer;
}

.analyze {
    display: flex;
    justify-content: end;
}

.insights {
    border: 1px red solid;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f59999;
}