.root{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.light {
    background-color: #fef;
}
.dark {
    background-color: #022;
}

.pulsedefault {
    width: 800px;
    height: calc(100vh - 140px);
    border-radius: 40px;
}

.pulsecard {
    width: 420px;
    height: 460px
}

.pulseban {
    width: 420px;
    height: 230px
}

.cards {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pulseItems {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.pulseCustomItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
}