.root{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.light {
    background-color: #fef;
}
.dark {
    background-color: #022;
}

.cards {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pulseItems {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.pulseCustomItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}