.root {
    display: grid;
    gap: 10px;
    margin: 8px;
    background-color: white;
    width: 230px;
    border-radius: 10px;
    border: solid 2px white;
}

.root:hover {
    border-color: grey;
}

.selected {
    border-color: darkblue;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    cursor: pointer;
    position: relative;
}

.productImage {
    height: 120px;
}

.productDescription {
    text-transform: uppercase;
    font-size: smaller;
    margin-top: 10px;
}

.productDescription h3,
.productDescription p {
    margin: 0;
}

.sales {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
}

:global(.q1) {
    color: red;
}

:global(.q2) {
    color: orange;
}

:global(.q3) {
    color: green;
}