/* CSS file */
.header {
  width: calc(100vw - 15px);
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

nav li {
  margin-right: 20px;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.logo {
  height: 60px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
}

.notification {
  width: 40px;
}

.notificationContainer {
  position: relative;
}

.notificationIcon {
  display: inline-block;
}

.notificationCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
