/* CSS file */
.header {
  top: 0;
  width: calc(100vw - 15px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

nav li {
  margin-right: 20px;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.logo {
  height: 60px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
}