.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;

    background-image: url('CyclingGrass.jpg');
    background-size: cover;
    background-position: center;
}

